body {
    text-align: center;
    background-color: azure;
}
img {
    width: 30%;
    border-radius: 50%;
    border-width: 8px;
    border-style: solid;
    border-color: aqua;
    outline: 2px solid black;
}
button {
    background-color: aqua;
    border-radius: 15px;
    padding: 5px;
}